/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.starter-template h1 {
  font-family: initial;
  font-variant-caps: inherit;
  text-transform: uppercase;
  font-weight: 100;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-family: monospace;
}

#myphoto {
  width: 50%;
}
